@media screen and (min-width: 60em) {

    .album {
        width: 18%;
        margin-right: 1rem;
    }
    .albums {
        height: 90vh;
    }
}


@media screen and (max-width: 60em) and (min-width: 30em) {
    .album {
        width: 20%
    }
}
